<section class="about">
  <div class="container about-container">
    <div class="text-wrapper">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="about-subtext">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-item">
          <p class="about-number">5+</p>
          <p class="about-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-item">
          <p class="about-number">100%</p>
          <p class="about-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-item">
          <p class="about-number">500+</p>
          <p class="about-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="img-wrapper">
      <picture>
        <source
          srcset="
            ../img/about-us/sofa-mobile@1x.jpg 1x,
            ../img/about-us/sofa-mobile@2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ../img/about-us/sofa-mobile@1x.webp 1x,
            ../img/about-us/sofa-mobile@2x.webp 2x
          "
          media="(max-width:767px)"
          type="image/webp"
        />

        <source
          srcset="
            ../img/about-us/sofa-tablet@1x.jpg 1x,
            ../img/about-us/sofa-tablet@2x.jpg 2x
          "
          media="(max-width:1439px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ../img/about-us/sofa-tablet@1x.webp 1x,
            ../img/about-us/sofa-tablet@2x.webp 2x
          "
          media="(max-width:1439px)"
          type="image/webp"
        />

        <source
          srcset="
            ../img/about-us/sofa-desktop@1x.jpg 1x,
            ../img/about-us/sofa-desktop@2x.jpg 2x
          "
          media="(min-width:1440px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ../img/about-us/sofa-desktop@1x.webp 1x,
            ../img/about-us/sofa-desktop@2x.webp 2x
          "
          media="(min-width:1440px)"
          type="image/webp"
        />

        <img
          class="about-img"
          src="../img/about-us/sofa-mobile@1x.jpg"
          alt="white sofa with two cushions"
        />
      </picture>
    </div>
  </div>
</section>
