<section class="bestsellers">
  <div class="container bestsellers-container">
    <h2 class="bestsellers-title">Bestsellers</h2>

    <div class="bestsellers-wrapper">
      <div class="bestsellers-main-wrapper">
        <picture>
          <source
            srcset="
              ./img/bestsellers/modern-bed-mobile@1x.jpg 1x,
              ./img/bestsellers/modern-bed-mobile@2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/bestsellers/modern-bed-mobile@1x.webp 1x,
              ./img/bestsellers/modern-bed-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/bestsellers/modern-bed-tablet@1x.jpg 1x,
              ./img/bestsellers/modern-bed-tablet@2x.jpg 2x
            "
            media="(max-width:1439px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/bestsellers/modern-bed-tablet@1x.webp 1x,
              ./img/bestsellers/modern-bed-tablet@2x.webp 2x
            "
            media="(max-width:1439px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/bestsellers/modern-bed-desktop@1x.jpg 1x,
              ./img/bestsellers/modern-bed-desktop@2x.jpg 2x
            "
            media="(min-width:1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/bestsellers/modern-bed-desktop@1x.webp 1x,
              ./img/bestsellers/modern-bed-desktop@2x.webp 2x
            "
            media="(min-width:1440px)"
            type="image/webp"
          />

          <img
            src="./img/bestsellers/modern-bed-mobile@1x.jpg"
            alt="The modern platform bed"
            class="bestsellers-img main-img"
          />
        </picture>

        <p class="bestsellers-furniture-text">The modern platform bed</p>
        <p class="bestsellers-price">750$</p>
      </div>
      <ul class="bestsellers-list">
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/lounge-chair-mobile@1x.jpg 1x,
                ../img/bestsellers/lounge-chair-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/lounge-chair-mobile@1x.webp 1x,
                ../img/bestsellers/lounge-chair-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/lounge-chair-tablet@1x.jpg 1x,
                ../img/bestsellers/lounge-chair-tablet@2x.jpg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/lounge-chair-tablet@1x.webp 1x,
                ../img/bestsellers/lounge-chair-tablet@2x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/lounge-chair-desktop@1x.jpg 1x,
                ../img/bestsellers/lounge-chair-desktop@2x.jpg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/lounge-chair-desktop@1x.webp 1x,
                ../img/bestsellers/lounge-chair-desktop@2x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />

            <img
              src="../img/bestsellers/lounge-chair-mobile@1x.jpg"
              alt="The Cozy Lounge Chair"
              class="bestsellers-img"
            />
          </picture>

          <p class="bestsellers-furniture-text">The Cozy Lounge Chair</p>
          <p class="bestsellers-price">230$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/industrial-chair-mobile@1x.jpg 1x,
                ../img/bestsellers/industrial-chair-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/industrial-chair-mobile@1x.webp 1x,
                ../img/bestsellers/industrial-chair-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/industrial-chair-tablet@1x.jpg 1x,
                ../img/bestsellers/industrial-chair-tablet@2x.jpg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/industrial-chair-tablet@1x.webp 1x,
                ../img/bestsellers/industrial-chair-tablet@2x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/industrial-chair-desktop@1x.jpg 1x,
                ../img/bestsellers/industrial-chair-desktop@2x.jpg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/industrial-chair-desktop@1x.webp 1x,
                ../img/bestsellers/industrial-chair-desktop@2x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />

            <img
              src="../img/bestsellers/industrial-chair-mobile@1x.jpg"
              alt="iron chair with a round table"
              class="bestsellers-img"
            />
          </picture>

          <p class="bestsellers-furniture-text">The industrial accent chair</p>
          <p class="bestsellers-price">250$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/sleek-stand-tablet@1x.jpg 1x,
                ../img/bestsellers/sleek-stand-tablet@2x.jpg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/sleek-stand-tablet@1x.webp 1x,
                ../img/bestsellers/sleek-stand-tablet@2x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/sleek-stand-desktop@1x.jpg 1x,
                ../img/bestsellers/sleek-stand-desktop@2x.jpg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/sleek-stand-desktop@1x.webp 1x,
                ../img/bestsellers/sleek-stand-desktop@2x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />

            <img
              src="../img/bestsellers/sleek-stand-tablet@1x.jpg"
              alt="The sleek stand"
              class="bestsellers-img"
            />
          </picture>

          <p class="bestsellers-furniture-text">The sleek stand</p>
          <p class="bestsellers-price">300$</p>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/minimalist-sofa-tablet@1x.jpg 1x,
                ../img/bestsellers/minimalist-sofa-tablet@2x.jpg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/minimalist-sofa-tablet@1x.webp 1x,
                ../img/bestsellers/minimalist-sofa-tablet@2x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />

            <source
              srcset="
                ../img/bestsellers/minimalist-sofa-desktop@1x.jpg 1x,
                ../img/bestsellers/minimalist-sofa-desktop@2x.jpg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ../img/bestsellers/minimalist-sofa-desktop@1x.webp 1x,
                ../img/bestsellers/minimalist-sofa-desktop@2x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />

            <img
              src="../img/bestsellers/minimalist-sofa-tablet@1x.jpg"
              alt="The minimalist sofa"
              class="bestsellers-img"
            />
          </picture>
          <p class="bestsellers-furniture-text">The minimalist sofa</p>
          <p class="bestsellers-price">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
