<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimal</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <main>
      <section id="" class="clients">
        <div class="clients-box container">
          <h3 class="clients-title">Clients reviews</h3>
          <ul class="clients-card">
            <li class="clients-item mobil">
              <picture>
                <source
                  srcset="
                    ./img/clients-reviews/alexandra-dream-desktop-tablet@1x.jpg 1x,
                    ./img/clients-reviews/alexandra-dream-desktop-tablet@2x.jpg 2x
                  "
                  media="(min-width:1440px) and (min-width:1439px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./img/clients-reviews/alexandra-dream-desktop-tablet@1x.webp 1x,
                    ./img/clients-reviews/alexandra-dream-desktop-tablet@2x.webp 2x
                  "
                  media="(min-width:1440px) and (min-width:1439px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/clients-reviews/alexandra-dream-mobile@1x.jpg 1x,
                    ./img/clients-reviews/alexandra-dream-mobile@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./img/clients-reviews/alexandra-dream-mobile@1x.webp 1x,
                    ./img/clients-reviews/alexandra-dream-mobile@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <img
                  class="clients-image"
                  src="./img/clients-reviews/alexandra-dream-desktop-tablet@1x.jpg"
                  alt="alexandra"
                  width="48"
                />
              </picture>

              <p class="clients-name">Alexandra dream</p>
              <p class="clients-ago">1 week ago</p>
              <p class="clients-description">
                I was blown away by the quality and craftsmanship of the
                furniture I received from this company. Each piece was unique
                and beautifully designed, and you can tell that a lot of thought
                and care goes into every detail.
              </p>
            </li>
            <li class="clients-item tablet">
              <picture>
                <source
                  srcset="
                    ./img/clients-reviews/james-williams-desktop-tablet@1x.jpg 1x,
                    ./img/clients-reviews/james-williams-desktop-tablet@2x.jpg 2x
                  "
                  media="(min-width:1440px) and (min-width:1439px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./img/clients-reviews/james-williams-desktop-tablet@1x.webp 1x,
                    ./img/clients-reviews/james-williams-desktop-tablet@2x.webp 2x
                  "
                  media="(min-width:1440px) and (min-width:1439px)"
                  type="image/webp"
                />

                <img
                  class="clients-image"
                  src="./img/clients-reviews/james-williams-desktop-tablet@1x.jpg"
                  alt="james-williams"
                  width="48"
                />
              </picture>

              <p class="clients-name">AJames Williams</p>
              <p class="clients-ago">1 week ago</p>
              <p class="clients-description">
                The "Minimal" furniture set is a fantastic addition to my home.
                It boasts a minimalist design, enhancing the feel and look of my
                living space. The sturdy construction is worth noting too, which
                speaks volumes about its durability.
              </p>
            </li>
            <li class="clients-item desctop">
              <picture>
                <source
                  srcset="
                    ./img/clients-reviews/emily-watson-desktop-tablet@1x.jpg 1x,
                    ./img/clients-reviews/emily-watson-desktop-tablet@2x.jpg 2x
                  "
                  media="(min-width:767px) "
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./img/clients-reviews/emily-watson-desktop-tablet@1x.webp 1x,
                    ./img/clients-reviews/emily-watson-desktop-tablet@1x.webp 2x
                  "
                  media="(min-width:767px) "
                  type="image/webp"
                />

                <img
                  class="clients-image"
                  src="./img/clients-reviews/emily-watson-desktop-tablet@1x.jpg"
                  alt="emily-watson"
                  width="48"
                />
              </picture>

              <p class="clients-name">Emily Watson</p>
              <p class="clients-ago">1 week ago</p>
              <p class="clients-description">
                The "Minimal" furniture set has far exceeded my expectations.
                The sleek design combined with the high-quality materials have
                not only added an exceptional aesthetic to my space but also
                offered an uncompromising standard of comfort.
              </p>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
