<footer class="footer">
  <div class="footer-container container">
    <div class="logo-nav-social">
      <div class="logo-nav">
        <a href="./index.html" class="logo-footer link">
          <svg class="logo-footer-svg" width="127" height="16">
            <use href="./img/svg/icons.svg#logo-minimal"></use>
          </svg>
        </a>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#about" class="nav-item-link link">About us</a>
            </li>
            <li class="nav-item">
              <a href="#products" class="nav-item-link link">Our products</a>
            </li>
            <li class="nav-item">
              <a href="#price" class="nav-item-link link">Prices</a>
            </li>
            <li class="nav-item">
              <a href="#bestsellers" class="nav-item-link link">Bestsellers</a>
            </li>
            <li class="nav-item">
              <a href="#reviews" class="nav-item-link link">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/"
            aria-label="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-item-svg" width="40" height="40">
              <use href="./img/svg/icons.svg#facebook-logo"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-item-svg" width="40" height="40">
              <use href="./img/svg/icons.svg#instagram-logo"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/"
            aria-label="youtube"
            target="_blank"
          >
            <svg class="social-item-svg" width="40" height="40">
              <use href="./img/svg/icons.svg#youtube-logo"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contacts">
      <address class="address-timetable-list">
        <ul>
          <li class="address-timetable-item">
            <a
              class="address link"
              href="https://goo.gl/maps/UUrMcfHMq4yX5mhUA"
              aria-label="google maps"
              target="_blank"
              rel="noopener noreferrer"
            >
              Obolonsky Prospect, 14, Kyiv
            </a>
          </li>
          <li class="address-timetable-item timetable">
            <p>Daily 10:00-21:00</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contact-item">
            <a class="contact-link link" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="contact-item">
            <a class="contact-link link" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
        </ul>
        <a class="contact-mail link" href="mailto:minimal.furniture@gmail.com"
          >minimal.furniture@gmail.com</a
        >
      </address>
    </div>
    <p class="terms-policy">
      By using this website, you agree to the
      <a href="#" class="terms-policy-link">Terms of Service</a> and
      <a href="#" class="terms-policy-link">Privacy Policy</a>
    </p>
  </div>
</footer>
