<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <a class="logo-link" href="#"><svg class="logo-icon" width="100" height="16">
                <use href="./img/svg/icons.svg#logo-minimal"></use>
            </svg></a>
            <nav class="header-nav">
                <ul class="header-nav">
                  <li class="header-nav-item">
                    <a href="#about" class="header-nav-link">About us</a>
                  </li>
                  <li class="header-nav-item">
                    <a href="#products" class="header-nav-link">Our products</a>
                  </li>
                  <li class="header-nav-item">
                    <a href="#prices" class="header-nav-link">Prices</a>
                  </li>
                  <li class="header-nav-item">
                    <a href="#bestsellers" class="header-nav-link">Bestsellers</a>
                  </li>
                  <li class="header-nav-item">
                    <a href="#reviews" class="header-nav-link">Reviews</a>
                  </li>
                </ul>
              </nav>
        </div>
    </header>
</body>
</html>
