<section id="products" class="our-products">
  <div class="container our-products-container">
    <h2 class="title-our-products">OUR PRODUCTS</h2>
    <ul class="our-products-list">
      <li class="our-pruducts-item">
        <picture class="picture-our-products">
          <source
            srcset="
              ./img/our-products/storage-solutions-mobile@1x.jpg 1x,
              ./img/our-products/storage-solutions-mobile@2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/our-products/storage-solutions-mobile@1x.webp 1x,
              ./img/our-products/storage-solutions-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/our-products/storage-solutions-tablet@1x.jpg 1x,
              ./img/our-products/storage-solutions-tablet@2x.jpg 2x
            "
            media="(max-width:1439px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/storage-solutions-tablet@1x.webp 1x,
              ./img/our-products/storage-solutions-tablet@2x.webp 2x
            "
            media="(max-width:1439px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/our-products/storage-solutions-desktop@1x.jpg 1x,
              ./img/our-products/storage-solutions-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/storage-solutions-desktop@1x.webp 1x,
              ./img/our-products/storage-solutions-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />

          <img
            src="./img/our-products/storage-solutions-mobile@1x.jpg"
            alt="TV stand"
          />
        </picture>
        <h3 class="paragraph-our-products">Minimalist storage solutions</h3>
      </li>
      <li class="our-pruducts-item">
        <picture class="picture-our-products">
          <source
            srcset="
              ./img/our-products/handcrafted-seating-tablet@1x.jpg 1x,
              ./img/our-products/handcrafted-seating-tablet@2x.jpg 2x
            "
            media="(max-width: 1439px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/handcrafted-seating-tablet@1x.webp 1x,
              ./img/our-products/handcrafted-seating-tablet@2x.webp 2x
            "
            media="(max-width: 1439px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/our-products/handcrafted-seating-desktop@1x.jpg 1x,
              ./img/our-products/handcrafted-seating-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/handcrafted-seating-desktop@1x.webp 1x,
              ./img/our-products/handcrafted-seating-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <img
            src="./img/our-products/handcrafted-seating-tablet@1x.jpg"
            alt="Blue sofa"
          />
        </picture>
        <h3 class="paragraph-our-products">Handcrafted minimalist seating</h3>
      </li>
      <li class="our-pruducts-item">
        <picture class="picture-our-products">
          <source
            srcset="
              ./img/our-products/simple-tables-desktop@1x.jpg 1x,
              ./img/our-products/simple-tables-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/simple-tables-desktop@1x.webp 1x,
              ./img/our-products/simple-tables-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <img
            src="./img/our-products/simple-tables-desktop@1x.jpg"
            alt="Table and chairs"
          />
        </picture>
        <h3 class="paragraph-our-products">Sleek and simple tables</h3>
      </li>
      <li class="our-pruducts-item">
        <picture class="picture-our-products">
          <source
            srcset="
              ./img/our-products/seating-for-every-space-desktop@1x.jpg 1x,
              ./img/our-products/seating-for-every-space-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-products/seating-for-every-space-desktop@1x.webp 1x,
              ./img/our-products/seating-for-every-space-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <img
            src="./img/our-products/seating-for-every-space-desktop@1x.jpg"
            alt="Seating blue"
          />
        </picture>
        <h3 class="paragraph-our-products">
          Minimalist seating for every space
        </h3>
      </li>
    </ul>
  </div>
</section>
