<section id="price" class="price">
  <div class="container container-price">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <ul class="price-list">
      <li class="price-lst">
        <p class="price-paragraph">
          CHAIRS <span class="price-price"> from 200₴</span>
        </p>
      </li>
      <li class="price-lst">
        <p class="price-paragraph">
          TABLES <span class="price-price">from 250₴</span>
        </p>
      </li>
      <li class="price-lst">
        <p class="price-paragraph">
          DRESSERS <span class="price-price">from 300₴</span>
        </p>
      </li>
      <li class="price-lst">
        <p class="price-paragraph">
          SOFAS <span class="price-price">from 500₴</span>
        </p>
      </li>
    </ul>
  </div>
</section>
