@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --accent-color-061835: #061835;
  --primary-color-blue-font-0a224a: #0a224a;
  --dark-gray-color-7a7a7a: #7a7a7a;
  --gray-color-b6b6b6: #b6b6b6;
  --light-gray-color-d9d9d9: #d9d9d9;
  --light-blue-color-f7faff: #f7faff;
  --white-color-fff: #ffffff;

  /* transition params */
  --my-transition-duration: 250ms;
  --my-transition-timing-function: ease-in-out;
  --my-transition-delay: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-blue-font-0a224a);
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  /* outline: 1px solid red; */
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
