/* =======clients reviews======== */


@media (max-width: 767px) {
  .clients-card li:not(:first-child) {
    display: none;

  }
}

.clients {
  background: var(--light-blue-color-f7faff);
}

.clients-box {
  padding-top: 36px;
  padding-bottom: 36px;
}

.container {}

.clients-title {
  color: var(--primary-color-blue-font-0a224a);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.clients-item {
  display: inline-block;
}




.clients-item {
  border-radius: 8px;
  background: var(--white-color-fff);
  padding: 24px;
  display: block;
}



.clients-item-box {
  display: flex;
}

.clients-image {
  border-radius: 48px;
  width: 48px;
  height: 48px;
}



.clients-name-description {
  margin-left: 14px;
}

.clients-name {
  color: var(--primary-color-blue-font-0a224a);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.clients-ago {
  color: var(--primary-color-blue-font-0a224a);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 24px;
  opacity: 0.8;
}

.clients-description {
  color: var(--primary-color-blue-font-0a224a);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
}



@media (min-width: 768px) and (max-width: 1439px) {
  .clients-box {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .clients-card {
    display: flex;
    gap: 16px;
  }

  .clients-item {
    display: inline-block;
  }

  .clients-card li:last-child {
    display: none;

  }

  .clients-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .clients-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.77;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .clients-ago {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 14px;
    opacity: 0.8;
  }

  .clients-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }

  .clients-image {
    width: 56px;
    height: 56px;
    border-radius: 56px;
  }
}


@media (min-width: 1440px) {
  .clients-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .clients-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .clients-card {
    display: flex;
    gap: 24px;
  }

  .clients-image {
    width: 56px;
    height: 56px;
    border-radius: 56px;
  }

  .clients-item {
    display: inline-block;
    padding: 32px;
  }

  .clients-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.77;
    text-transform: uppercase;
  }

  .clients-ago {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .clients-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }

}